// TODO: Agregar estilos para el game list
.game-list {
  padding: 16px;
  .game-cards {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    .game-card {
      background-color: var(--clr-surface);
      transition: transform 0.3s ease, box-shadow 0.8s ease;
      border: 1px solid var(--clr-surface);
      border-radius: var(--border-radius);
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
      }
      .game-card-content {
        position: relative;
        padding: 8px;
        a {
          text-decoration: none;
          p {
            text-align: left;
            font-weight: bolder;
            font-size: 20px;
            color: var(--clr-on-surface);
          }
        }
      }
      .info-extra {
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: auto;
        overflow: hidden;
        background-color: var(--clr-surface);
        position: absolute;
        bottom: 0;
        left: -1px;
        transform: translateY(99%);
        // transition: all 0.3s ease;
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        border: 1px solid var(--clr-surface);
        .extra {
          padding: 0 8px;
          display: flex;
          justify-content: space-between;
          p{
            color: var(--clr-on-surface);
          }
        }
        .separator{
          width: calc(100% - 8px);
          margin: 0 auto;
          border: solid 1px var(--clr-on-surface) !important;
        }
      }
      &:hover {
        transform: scale(1.05);
        z-index: 1;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        .info-extra {
          opacity: 1;
          visibility: visible;
          // transition-delay: 200ms;
          z-index: 999;
        }
      }
    }
  }
  .loading {
    height: 100vh;
  }
}
#load-more {
  height: 20px;
  width: 100%;
  background-color: red;
}
