<div class="game-list">
  <h2>Game List</h2>
  @if(isInitialLoading$ | async) {
  <div class="loading">
    <p>Cargando juegos...</p>
  </div>
  } @else {
  <div class="game-cards">
    @for (game of (currentResults$ | async); track game.id) {
    <div class="game-card">
      <img src="{{ game.background_image }}" alt="" />
      <div class="game-card-content">
        <a [routerLink]="['/game', game.slug]">
          <p>{{ game.name }}</p>
        </a>
        <div class="info-extra">
          <div class="extra release-date">
            <p>
              <strong>Release Date:</strong>
            </p>
            <p>{{ game.released }}</p>
          </div>
          <div class="separator"></div>
          <div class="extra genres">
            <p><strong>Genres:</strong></p>
            <p>
              @for (genre of game.genres; track genre.id; let isLast = $last) {
              <span class="genre">{{ genre.name }}</span>
              @if (!isLast) {
                <span>, </span>
              }
              } @empty {
              <span class="genre">Sin géneros</span>
              }
            </p>
          </div>
        </div>
      </div>
    </div>
    } @empty {
    <p>No hay juegos disponibles.</p>
    }
  </div>
  }
</div>
@if (isLoadingMore$ | async) {
<div class="loading">
  <p>Cargando más juegos...</p>
</div>
}
<div id="load-more" #observableGameList></div>
