.game-list {
  padding: 16px;

  .game-cards {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    .game-card {
      background-color: var(--clr-surface);
      transition: transform 0.3s ease, box-shadow 0.8s ease;
      border: 4px solid var(--clr-surface);
      border-radius: var(--border-radius);

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
      }

      .game-card-content {
        position: relative;
        padding: 8px;

        .platform_icons {
          .icons {
            display: flex;
            gap: 6px;
            margin-bottom: 8px;

            img {
              width: 17px;
              height: 13px;
              border-radius: 0;
              object-fit: contain;
            }
          }
        }

        .metacritic {
          min-width: 32px;
          position: absolute;
          right: 8px;
          top: 8px;
          border-radius: var(--border-radius);
          text-align: center;
          padding: 2px 0;
          font-weight: bold;
          font-size: 14px;

          &.good {
            border: 2px solid #27ae60;
            color: #27ae60;
          }

          &.average {
            border: 2px solid #8d7208;
            color: #8d7208;
          }

          &.poor {
            border: 2px solid #e74c3c;
            color: #e74c3c;
          }

          &.no-score {
            border: 2px solid #95a5a6;
            color: #95a5a6;
          }
        }

        a {
          text-decoration: none;

          p {
            text-align: left;
            font-weight: bolder;
            font-size: 20px;
            color: var(--clr-on-surface);
          }
        }
      }

      .info-extra {
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: auto;
        overflow: hidden;
        background-color: var(--clr-surface);
        position: absolute;
        bottom: 0;
        left: -4px;
        transform: translateY(99%);
        // transition: all 0.3s ease;
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        border: 4px solid var(--clr-surface);

        .extra {
          padding: 0 8px;
          display: flex;
          justify-content: space-between;

          p {
            color: var(--clr-on-surface);

            &:last-child {
              text-align: right;
            }
          }
        }

        .separator {
          width: calc(100% - 8px);
          margin: 0 auto;
          border: solid 1px var(--clr-on-surface) !important;
        }
      }

      &:hover {
        transform: scale(1.02);
        z-index: 1;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .info-extra {
          opacity: 1;
          visibility: visible;
          // transition-delay: 200ms;
          z-index: 999;
        }
      }
    }
  }

  .loading.skeleton-cards {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    .skeleton-card {
      width: 100%;
      height: 360px;
      background-color: grey;
      border-radius: var(--border-radius);
      animation: pulse 1.5s infinite;
    }
  }
}

.loading {
  text-align: center;
  margin: 16px 0;
}

@media (max-width: 1100px) {
  .game-list {
    padding-top: 0;
    h2 {
      margin-top: 0;
    }
  }
}