// TODO: Agregar estilos para el sidebar de filtros
.sidebar-filters {
  padding: 16px;
  border-radius: var(--border-radius);
  background-color: var(--clr-surface);
  border: 4px solid var(--clr-surface);

  .head_sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    h2 {
      color: var(--clr-secondary);
      margin: 0;
    }
  }

  .btn {
    font-size: 12px;
  }

  p {
    color: var(--clr-on-surface);
  }

  h3 {
    margin-top: 16px;
    margin-bottom: 8px;
    color: var(--clr-on-surface);
  }

  form {
    #search {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      border: 2px solid var(--clr-background);
      background-color: var(--clr-surface);
      border-radius: var(--border-radius);
      box-sizing: border-box;
      outline: none;
      color: var(--clr-on-surface);

      &::placeholder {
        color: var(--clr-on-surface);
      }

      &:focus {
        background-color: var(--clr-primary);
      }
    }

    .clear_filters_mobile {
      display: none;
    }
  }

  .button_toggle_mobile {
    display: none;
  }
  .genres,
  .platforms {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 70vh);
    overflow-y: auto;
    width: 100%;


    div {
      label {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: var(--clr-on-surface);

        &:hover input~.checkmark {
          background-color: var(--clr-primary);
        }

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;

          &:checked~.checkmark {
            background-color: var(--clr-on-surface);
          }

          &:checked~.checkmark:after {
            display: block;
          }
        }

        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 18px;
          width: 18px;
          background-color: var(--clr-surface);
          border-radius: var(--border-radius);
          border: 2px solid var(--clr-on-surface);

          &:after {
            content: "";
            position: absolute;
            display: none;
          }

          &:after {
            left: 6px;
            top: 3px;
            width: 3px;
            height: 7px;
            border: solid var(--clr-surface);
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      }
    }

    .skeleton-filter {
      height: 100px;
      margin-bottom: 12px;
      width: 100%;
      border-radius: var(--border-radius);
      background-color: grey;
      animation: pulse 1.5s infinite;
    }
  }
}

@media (max-width: 1100px) {
  .sidebar-filters {
    background-color: transparent;
    border: none;

    form {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 16px;

      .head_sidebar {
        width: 100%;
        margin: 0;

        h2 {
          color: var(--clr-on-background);
        }

        .clear_filters {
          display: none;
        }
      }

      .search_container {
        #search {
          margin-bottom: 0;
          font-size: 14px;
        }
      }

      .genres_container,
      .platforms_container {
        padding: 8px;
        background-color: var(--clr-surface);
        border-radius: var(--border-radius);
        position: relative;

        h3 {
          display: none;
        }

        .button_toggle_mobile {
          color: var(--clr-on-surface);
          margin: 0;
          font-size: 14px;
          cursor: pointer;
          display: block;
          .image {
            margin-left: .5em;
            img {
              width: 22px;
              height: 10px;
              object-fit: cover;
            }
          }
        }

        .genres,
        .platforms {
          background-color: var(--clr-on-background);
          border-radius: var(--border-radius);
          padding: 8px;
          max-height: 300px;
          width: 200px;
          position: absolute;
          left: 0;
          top: 3em;
          opacity: 0;
          visibility: hidden;
          z-index: 99;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          &.active {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .clear_filters_mobile {
        display: block;

        .btn {
          font-size: 14px;
          padding: 8px 16px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .sidebar-filters {
    form {
      .search_container{
        width: 100%;
      }
    }
  }
}