@if (gameScreenshots$ | async; as shot) {
  <div class="screenshots">
    <div class="screenshot principal">
      <img [src]="principalImage" alt="Principal Screenshot" />
    </div>
    @if (shot.results.length > 0) {
        @for (item of (shot.results | slice:0:4); track item.id) {
          <div class="screenshot">
            <img [src]="item.image" [alt]="item.id" />
          </div>
        }
    }
    @else {
      <p>No hay capturas disponibles.</p>
    }
  </div>
}
@else {
  <div class="loading">
    <p>Cargando capturas...</p>
  </div>
}