.screenshots {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;

    .screenshot {
        transition: all 0.3s ease;
        &:first-child {
            grid-column: span 2 / span 2;
            grid-row: span 2 / span 2;
        }

        &:hover {
            transform: scale(1.02);
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius);
            display: block;
            object-fit: cover;
        }
    }
}