/* You can add global styles to this file, and also import other style files */
:root {
  /* ======================================= */
  /* == Paleta Base (Tierra y Oro) == */
  /* ======================================= */
  --clr-one: #C9C4AC;
  --clr-two: #39321B;
  --clr-three: #C69639;

  /* ------------------------------------------ */
  /* Paleta Sem치ntica (Uso por funci칩n) */
  /* ------------------------------------------ */

  /* Colores principales de la marca (usando tus colores) */
  --clr-primary: var(--clr-three);
  --clr-secondary: var(--clr-one);
  --clr-accent: var(--clr-two);

  /* Colores de fondo y superficies */
  --clr-background: var(--clr-secondary);
  --clr-surface: var(--clr-accent);

  /* Colores de texto (Sobre fondos claros) */
  --clr-text: var(--clr-accent);
  --clr-text-muted: var(--clr-secondary);

  /* Colores "On" (Texto SOBRE fondos de color) */
  --clr-on-primary: #ffffff; /* Blanco sobre oro viejo */
  --clr-on-secondary: var(
    --clr-accent
  ); /* Texto oscuro sobre amarillo p치lido */
  --clr-on-accent: var(
    --clr-one
  ); /* Texto oscuro sobre naranja (mejor contraste) */
  --clr-on-background: var(--clr-text);
  --clr-on-surface: var(--clr-text-muted);

  --border-radius: 10px;

  // Breakpoints est치ndar
  --breakpoint-xs: 0px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  // Container max-widths
  --container-xs: 100%;
  --container-sm: 600px;
  --container-md: 800px;
  --container-lg: 1100px;
  --container-xl: 1400px;
  --container-xxl: 1600px;

  // Spacing
  --spacing-xs: 0.25rem; // 4px
  --spacing-sm: 0.5rem; // 8px
  --spacing-md: 1rem; // 16px
  --spacing-lg: 1.5rem; // 24px
  --spacing-xl: 2rem; // 32px
  --spacing-xxl: 3rem; // 48px
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist/Geist.ttf") format("truetype");
}

body {
  background-color: var(--clr-background);
  color: var(--clr-on-background);
  margin: 0;
  padding: 0;
  font-family: "Geist", sans-serif;
  box-sizing: border-box;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--clr-on-background);
  }
  a {
    color: var(--clr-accent);
  }
}

.container {
  max-width: var(--container-xxl);
  margin: 0 auto;
  padding: 0 var(--spacing-md);

  @media (max-width: 576px) {
    max-width: var(--container-xs);
    padding: 0 var(--spacing-sm);
  }

  @media (min-width: 576px) and (max-width: 768px) {
    max-width: var(--container-sm);
  }

  @media (min-width: 768px) and (max-width: 992px) {
    max-width: var(--container-md);
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    max-width: var(--container-lg);
  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    max-width: var(--container-xl);
  }

  @media (min-width: 1400px) {
    max-width: var(--container-xxl);
  }
}
